Integration App.json
{
  "name": "Integration App",
  "nodes": [
    {
      "parameters": {},
      "id": "4a3c1162-7e7d-4997-a1bf-160eebff7aab",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -704,
        176
      ]
    },
    {
      "parameters": {
        "url": "http://212.237.219.35:8080/students/15/cms/spares",
        "options": {
          "splitIntoItems": true
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "size",
              "value": "10"
            }
          ]
        }
      },
      "id": "5e2ccb7a-ddc6-4c13-ae68-68d619a9ab52",
      "name": "CMS Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -320,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$('CMS Request').all().length}}",
              "operation": "larger",
              "value2": 10
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "1423cdf1-cf41-49d1-a58c-1bfe340e27a0",
      "name": "Check Last Page",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        128,
        176
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "page"
            },
            {
              "name": "size",
              "value": 10
            }
          ]
        },
        "options": {}
      },
      "id": "888fc315-90cc-4ae5-b5f9-da844a1dca2a",
      "name": "Init Pagination",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -512,
        176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d4659f7-c1a6-4548-808f-8ae3e7a95a37",
              "name": "page",
              "value": "={{ $('Init Pagination').item.json.page += 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        352
      ],
      "id": "cb8beb11-041a-43e6-94f2-6181c68ec089",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "cVBriLxjKdB5EgZg",
          "mode": "list",
          "cachedResultName": "spares_history",
          "cachedResultUrl": "/projects/Y6ZUGKlRGQ2DwniG/datatables/cVBriLxjKdB5EgZg"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "spareCode",
              "keyValue": "={{ $json.spareCode }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quantity": "={{ $json.quantity }}",
            "spareCode": "={{ $json.spareCode }}",
            "spareName": "={{ $json.spareName }}",
            "spareDescription": "={{ $json.spareDescription }}",
            "spareType": "={{ $json.spareType }}",
            "spareStatus": "={{ $json.spareStatus }}",
            "price": "={{ $json.price }}",
            "updateDate": "={{ $json.updatedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "spareCode",
              "displayName": "spareCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "spareName",
              "displayName": "spareName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "spareDescription",
              "displayName": "spareDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "spareType",
              "displayName": "spareType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "spareStatus",
              "displayName": "spareStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updateDate",
              "displayName": "updateDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -112,
        176
      ],
      "id": "239b596a-c45e-4857-bf42-e7aefa575133",
      "name": "Upsert row(s)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "cVBriLxjKdB5EgZg",
          "mode": "list",
          "cachedResultName": "spares_history",
          "cachedResultUrl": "/projects/Y6ZUGKlRGQ2DwniG/datatables/cVBriLxjKdB5EgZg"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        384,
        160
      ],
      "id": "855b2047-e32f-400d-9a8e-0d43dd7a3e12",
      "name": "Get row(s)",
      "executeOnce": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "spareCode, spareName, spareDescription, spareType, spareStatus, price, quantity, updateDate",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        592,
        160
      ],
      "id": "2d5dffc3-a833-470d-9187-4b6d331d106a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {
          "delimiter": ";",
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        800,
        160
      ],
      "id": "533b5276-de64-4b9f-88e3-78ed5665bb20",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://212.237.219.35:8080/students/15/report/csv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/csv"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        160
      ],
      "id": "f074a98d-94bb-4218-b793-b731b1e2318d",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "CMS Request": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Last Page": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Init Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Pagination": {
      "main": [
        [
          {
            "node": "CMS Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "CMS Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Check Last Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "01f8635f-8689-4b77-adac-96cca997ea24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b2cd31629c232a8fc7a519dd5fd66996a67ec43cfce88b899e3e0368aecb2d1"
  },
  "id": "mHOgHiYyqKatmNCk",
  "tags": []
}